ignore {
  --background-color: #eee;
  --emphasis-color: #b9f;
  --tab-color: #fff6;
  --border-color: #fff8;
  --primary-color: #000;
  --secondary-color: #0008;
}

.tic-tac-toe-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  & .square {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    user-select: none;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid var(--border-color);
    background-color: var(--tab-color);
    transition: border-color 250ms ease;
  }

  & .square:hover {
    border-color: var(--emphasis-color);
  }
}

.tic-tac-toe-turns {
  display: flex;
  column-gap: 1rem;
}

.tic-tac-toe-turn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  user-select: none;
  border-radius: 1rem;
  border: 2px solid var(--border-color);
  background-color: var(--tab-color);
  transition: background-color 250ms ease;
}

.tic-tac-toe-turn.selected {
  background-color: var(--emphasis-color);
}

.tic-tac-toe-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  background-color: var(--tab-color);
  & .content {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    padding: 2rem 4rem;
    border: 2px solid var(--emphasis-color);
    border-radius: 1rem;
  }
}
