ignore {
  --background-color: #eee;
  --emphasis-color: #b9f;
  --tab-color: #fff6;
  --border-color: #fff8;
  --primary-color: #000;
  --secondary-color: #0008;
}

.chat-wrapper {
  width: 100%;
  display: grid;
  row-gap: 0.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  & .top {
    & .chat {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      height: calc(100dvh - 16rem);
      overflow-y: scroll;
      scrollbar-width: none;
      & .message {
        border: 2px solid var(--border-color);
        background-color: var(--tab-color);
        border-radius: 1rem;
        padding: 1rem;
        width: fit-content;
        & .time {
          color: var(--secondary-color);
          text-align: end;
        }
      }
      & .message.incoming {
        align-self: start;
        text-align: start;
      }
      & .message.outgoing {
        align-self: end;
        text-align: end;
        background-color: var(--emphasis-color);
      }
      & .message.thinking {
        height: 1rem;
        display: flex;
        column-gap: 0.25rem;
        & span {
          line-height: 0.125;
        }
        & span:nth-child(1) {
          animation: fade-in-out 1s ease infinite;
          animation-delay: 0ms;
        }
        & span:nth-child(2) {
          animation: fade-in-out 1s ease infinite;
          animation-delay: 250ms;
        }
        & span:nth-child(3) {
          animation: fade-in-out 1s ease infinite;
          animation-delay: 500ms;
        }
      }
    }
  }
  & .bottom {
    display: flex;
    column-gap: 0.5rem;
    & input {
      flex-grow: 1;
    }
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
