@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@custom-variant tall (@media (height >= 48rem));

@theme inline {
  /* Fonts */
  --font-sans: var(--font-default-sans);
  --font-mono: var(--font-default-mono);
  /* Theme Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-section: var(--section);
  --color-section-foreground: var(--section-foreground);
  /* Single Colors */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  /* Symbolic Colors */
  --color-destructive: var(--destructive);
  --color-constructive: var(--constructive);
  --color-warning: var(--warning);
  --color-information: var(--information);
  --color-special: var(--special);
  /* Animations */
  --animate-shake: shake 250ms ease-in-out 0s 2;
  --animate-blink: blink 1.5s ease-in-out 0s 2;
}

:root {
  --radius: 1rem;
  --animate-bounce: bounce 1.5s infinite;
  /* Theme Colors */
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.93 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --section: oklch(98% 0.0055 286);
  --section-foreground: oklch(0.21 0.006 285.885);
  /* Single Colors */
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --trail: oklch(0.141 0.005 285.823);
  /* Symbolic Colors */
  --destructive: oklch(58% 0.21576 9.456);
  --constructive: oklch(58% 0.11814 168.174);
  --warning: oklch(58% 0.1511 73.42);
  --information: oklch(58% 0.14151 260.085);
  --special: oklch(58% 0.20607 307.262);
  /* Chart Colors */
  --chart-1: hsl(220, 70%, 50%);
  --chart-2: hsl(340, 75%, 55%);
  --chart-3: hsl(160, 60%, 45%);
  --chart-4: hsl(30, 80%, 55%);
  --chart-5: hsl(280, 65%, 60%);
  --chart-6: var(--color-muted-foreground);
}

.dark {
  /* Theme Colors */
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --section: oklch(17.4% 0.004 285.9);
  --section-foreground: oklch(0.985 0 0);
  /* Single Colors */
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  /* Symbolic Colors */
  --destructive: oklch(62% 0.19 18.5);
  --constructive: oklch(62% 0.1 161.7);
  --warning: oklch(62% 0.13 66.03);
  --information: oklch(62% 0.15 260.02);
  --special: oklch(62% 0.2 305.5);
}

@layer base {
  body {
    @apply bg-background;
    @apply text-foreground;
  }
  * {
    @apply cursor-none!;
    @apply scroll-smooth;
    @apply font-sans border-border outline-ring/50;
    @apply selection:bg-primary selection:text-primary-foreground;
    scrollbar-color: var(--muted) transparent;
  }
}

@keyframes ripple-start {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(0.5);
    opacity: 1;
  }
}

@keyframes ripple-end {
  from {
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    translate: 0rem;
  }
  25% {
    translate: 0.5rem;
  }
  75% {
    translate: -0.5rem;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 50%;
  }
  25%,
  75% {
    opacity: 100%;
  }
}
