ignore {
  --background-color: #eee;
  --emphasis-color: #b9f;
  --tab-color: #fff6;
  --border-color: #fff8;
  --primary-color: #000;
  --secondary-color: #0008;
}

::selection {
  background-color: var(--emphasis-color);
}

::placeholder {
  color: var(--secondary-color);
}

hr {
  border: none;
  border-top: 2px solid var(--border-color);
}

ul > li {
  margin-left: 1em;
}

ol > li {
  list-style-position: inside;
}

blockquote {
  border-left: 4px solid var(--emphasis-color);
  padding: 0.5em 0.75em;
  font-style: italic;
}

pre {
  padding: 0.5em 0.75em;
  font-family: "Geist Mono", monospace;
  border-left: 4px solid var(--emphasis-color);
}

button,
select,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
  cursor: pointer;
}

input,
select {
  display: block;
}

[type="checkbox"],
[type="radio"] {
  display: initial;
}

input,
button,
select {
  color: inherit;
  padding: 0.5em;
  border-radius: 0.5em;
  outline: none;
  background-color: var(--tab-color);
  transition: border-color 250ms ease;
  border: 2px solid var(--border-color);
  accent-color: var(--emphasis-color);
}

input:hover,
button:hover,
select:hover {
  border-color: var(--emphasis-color);
}

button {
  backdrop-filter: blur(0.25rem);
}

input[type="color"] {
  min-height: 2rem;
}

input[type="range"] {
  padding: 0;
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  height: 1em;
  width: 1em;
}

textarea {
  outline: none;
  display: block;
  color: inherit;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--tab-color);
  border: 2px solid var(--border-color);
  transition: border-color 250ms ease;
}

textarea:hover {
  border-color: var(--emphasis-color);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

fieldset {
  padding: 1em;
  border-radius: 1em;
  border: 2px solid var(--border-color);
}

legend {
  font-weight: bold;
  padding: 0 0.5em;
}

code,
samp {
  font-family: "Geist Mono", monospace;
  border: 2px solid var(--border-color);
  background-color: var(--tab-color);
  display: inline-flex;
  border-radius: 1em;
  padding: 0.5em;
}

img,
video {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  text-align: left;
  word-wrap: break-word;
}

label {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
